@page "/factions"

<PageTitle>Factions</PageTitle>

<div class ="page-title">
    <h3>Choose your faction</h3>
</div>

<style>
    .faction-cards
    {
        display: grid;
        grid-template-columns: repeat(auto-fit{500px, 5fr});
    }
    .faction-box
    {
        padding: 20px;
        border: 3px solid #ccc;
        border-radius: 15px;
    }
    .page-title
    {
    }
    
</style>
@code
{}
