@page "/factions"
@using WarhammerCampaigns.Data.Factions

<PageTitle>Factions</PageTitle>

<style>
    

    .page-wrapper 
    {
        padding:1rem;
        height: 100%;
    }

    .faction-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 5fr)); /* Corrected grid-template-columns property */
        height: 98vh;
        gap: 2rem
    }

    .mainFaction-box {
        padding: 3rem;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-color: black;
        color: white;
    }

    .main
    
    .mainFaction-box:hover{
        
    }

    .page-title {
        text-align: center; /* Center the page title text */
    }

</style>
<section class="page-wrapper">
<div class="page-title">
    <h3>Choose your faction</h3>
</div>

<div class="faction-cards">
    @foreach (var mainfaction in mainFactions)
    {
        <div class="mainFaction-box animate" style="background-image: url('@mainfaction.Image')">
            <h4 style="text-align: center">@mainfaction.FactionName</h4>
            <p><strong>@mainfaction.Description</strong></p>            
        </div>

    }
</div>

<div class="faction-box"></div>
</section>
@code
{
    private List<Faction> mainFactions = new List<Faction>
    {
        new Faction("The Empire of Man", FactionType.Imperial, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus, nulla quis congue accumsan, libero massa pharetra lorem, vel fringilla ipsum mi at arcu. Donec ultrices faucibus felis non tempus. Cras fermentum felis quis ligula sodales, at lobortis urna vulputate. Integer sed dolor magna. Donec lectus nulla, bibendum non tortor ultrices, porta lobortis nisi. Vivamus eu condimentum turpis. Pellentesque odio nibh, accumsan in iaculis at, elementum at elit.", "images/mainfactions-theEmpire.png"),
        new Faction("Chaos Legions", FactionType.Chaos, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus, nulla quis congue accumsan, libero massa pharetra lorem, vel fringilla ipsum mi at arcu. Donec ultrices faucibus felis non tempus. Cras fermentum felis quis ligula sodales, at lobortis urna vulputate. Integer sed dolor magna. Donec lectus nulla, bibendum non tortor ultrices, porta lobortis nisi. Vivamus eu condimentum turpis. Pellentesque odio nibh, accumsan in iaculis at, elementum at elit.", "images/mainFactions-chaosLegions.png"),
        new Faction("Xenos", FactionType.Xeno, "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus, nulla quis congue accumsan, libero massa pharetra lorem, vel fringilla ipsum mi at arcu. Donec ultrices faucibus felis non tempus. Cras fermentum felis quis ligula sodales, at lobortis urna vulputate. Integer sed dolor magna. Donec lectus nulla, bibendum non tortor ultrices, porta lobortis nisi. Vivamus eu condimentum turpis. Pellentesque odio nibh, accumsan in iaculis at, elementum at elit.", "images/mainFactions-Xenos.png")
    };

private List<Faction> factions = new List<Faction>
{
    new Faction("Space Marines", FactionType.Imperial, "Superhuman soldiers of the Imperial.", ""),
    new Faction("Chaos Space Marines", FactionType.Chaos, "Corrupted and chaotic versions of the Space Marines.", ""),
    new Faction("Imperial Guard (Astra Militarum)", FactionType.Imperial, "The vast human armies of the Imperial.", ""),
    new Faction("Adeptus Mechanicus", FactionType.Imperial, "Tech-priests and machines of the Imperial.", ""),
    new Faction("Adeptus Custodes", FactionType.Imperial, "Emperor's elite bodyguards.", ""),
    new Faction("Sisters of Battle (Adepta Sororitas)", FactionType.Imperial, "Warrior nuns of the Emperor.", ""),
    new Faction("Eldar (Craftworlds)", FactionType.Xeno, "Elegant and ancient alien race.", ""),
    new Faction("Dark Eldar (Drukhari)", FactionType.Xeno, "Sadistic and raiding aliens.", ""),
    new Faction("Harlequins", FactionType.Xeno, "Eldar performers and warriors.", ""),
    new Faction("Orks", FactionType.Xeno, "Greenskinned, war-loving brutes.", ""),
    new Faction("T'au Empire", FactionType.Xeno, "Advanced technology and philosophy aliens.", ""),
    new Faction("Necrons", FactionType.Xeno, "Ancient, robotic undead.", ""),
    new Faction("Tyranids", FactionType.Xeno, "Swarm-like, bio-organic aliens.", ""),
    new Faction("Genestealer Cults", FactionType.Chaos, "Secret cults serving the Tyranids.", ""),
    new Faction("Imperial Knights", FactionType.Imperial, "Massive war machines.", ""),
    new Faction("Death Guard", FactionType.Chaos, "Nurgle-worshipping Chaos Space Marines.", ""),
    new Faction("Thousand Sons", FactionType.Chaos, "Tzeentch-worshipping Chaos Space Marines.", ""),
    new Faction("Custodian Guard", FactionType.Imperial, "Emperor's golden guardians.", ""),
    new Faction("Sisters of Silence", FactionType.Imperial, "Psychic-nullifying warriors.", ""),
    new Faction("Chaos Daemons", FactionType.Chaos, "Entities from the Warp.", ""),
    new Faction("Ynnari", FactionType.Xeno, "Eldar following Ynnead, the god of the dead.", "")
};


}
